.navegacao {
    background: var(--cor-padrao);
}

.logotipo {
    width: 80px;
    height: 80px;
}

.nav-link {
    letter-spacing: 2px!important;

    transition: color 1s;

    color: var(--cor-secundaria)!important;
}

.cor-link {

}

.nav-link:hover {
    color: var(--cor-hover)!important;
}

.faixa {
    text-align: center;

    background: var(--cor-secundaria);
}

.faixa-titulo {
    font-size: 1.4rem;
    font-weight: bold;

    color: var(--cor-padrao);

    padding: 30px 0;

    text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
    .faixa-titulo {
        font-size: 2rem;
    }
}