.carrosel {
    margin-top: 30px;
}

.imagem-destaque {
    height: 400px;

    object-fit: cover;
}

.faixa {
    text-align: center;

    background: var(--cor-secundaria);
}

.faixa-titulo {
    font-size: 1.4rem;
    font-weight: bold;

    color: var(--cor-padrao);

    padding: 40px 0;

    text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
    .faixa-titulo {
        font-size: 2rem;
    }

    .imagem-destaque {
        height: 500px;

        margin-bottom: 20px;
    }

    .carrosel {
        padding-left: 6%;
        padding-right: 6%;
    }
}