.carrosel {
    margin-top: 30px;
}

.imagem-destaque {
    height: 400px;

    object-fit: cover;
}

@media screen and (min-width: 1024px) {
    .imagem-destaque {
        height: 600px;

        margin-bottom: 20px;
    }

    .carrosel {
        padding-left: 6%;
        padding-right: 6%;
    }
}