.contato {
    display: flex;

    align-items: center;

    flex-direction: column;
}

.contato__card {
    display: flex;

    align-items: center;
    justify-content: center;

    flex-direction: column;

    margin: 20px 0;
    max-width: 300px;
}

.contato__titulo {
    font-size: 1.5rem;
    font-weight: bold;

    color: var(--cor-secundaria);

    padding-bottom: 10px;
}

.texto__espacamento {
    padding-left: 20px;
}

.contato__texto {
    font-size: 1.1rem;
    font-family: var(--fonte-texto);

    color: var(--cor-secundaria);

    text-align: left;

    padding-bottom: 10px; 
}

.contato__midia {
    display: flex;

    justify-content: center;

    align-items: flex-end;
}

.contato__midia:hover {
    text-decoration: none;
}

.contato__midia-link {
    font-size: 3.6rem;

    color: var(--cor-secundaria);

    padding-right: 5px;

    text-align: center;
}

.contato__midia-link:hover {
    text-decoration: none;
}

.contato__botao {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: var(--fonte-texto);

    width: 200px;

    margin-top: 10px;

    text-decoration: none;

    transition: color 1s;
}

@media screen and (min-width: 1024px) {
    .contato {
        flex-direction: row;

        justify-content: space-around;

        align-items: flex-start;
        
        margin-top: 50px;
        margin-bottom: 50px;
    }
}