:root {
    --cor-padrao: #855FFA;

    --cor-secundaria: #ffffff;

    --fonte-titulo: 'Montserrat', sans-serif;

    --fonte-texto: 'Roboto', sans-serif;
}


body {
    font-family: var(--fonte-titulo);

    background: var(--cor-padrao);

    padding-top: 7rem;
}

.botao {
    border: 2px solid var(--cor-secundaria);
    border-radius: 5px;
    box-sizing: border-box;

    background-color: var(--cor-padrao);
    color: var(--cor-secundaria);

    cursor: pointer;
    
    display: block;

    padding: 1rem 1rem;

    width: 50%;
    max-width: 700px;
    
    text-align: center;

    transition: background 1s;
}

.botao:hover {
    background: var(--cor-secundaria);

    color: var(--cor-padrao);

    border-color: #000; 

    text-decoration: none;
}