.rodape {
    display: flex;

    align-items: center;
    justify-content: center;

    flex-direction: column;

    background: var(--cor-secundaria);

    color: var(--cor-padrao);

    text-align: center;
}

.rodape__midias {
    display: flex;

    align-items: center;

    justify-content: center;
}

.rodape__midias-link {
    font-size: 3rem;

    padding: 0 15px;
    margin-top: 35px;

    text-decoration: none;

    color: var(--cor-padrao);

    transition: color 1s;
}

.rodape__midias-link:hover {
    color: var(--cor-hover);

    text-decoration: none;

    font-size: 3.1rem;
}

.rodape__menu {
    display: flex;

    align-items: center;
    justify-content: center;

    flex-direction: column;

    margin-top: 30px;
}

.rodape__menu-link {
    font-size: 1rem;
    font-weight: bold;

    color: var(--cor-padrao);

    text-transform: uppercase;
    text-decoration: none;

    padding-bottom: 10px;

    letter-spacing: 2px;
}

.rodape__logo {
    width: 170px;
    height: 170px;

    margin-top: 30px;
}

.rodape__copy {
    font-size: 1rem;
    font-weight: bold;

    color: var(--cor-padrao);
    
    padding-top: 20px;
}

.rodape__developer {
    font-size: .75rem;
    font-weight: bold;
    font-family: var(--fonte-texto);

    color: var(--cor-padrao);

    padding-top: 15px;
    padding-bottom: 30px;

    text-decoration: none;
}

.rodape__developer:hover {
    color: var(--cor-hover);
}

@media screen and (min-width: 1024px) {
    .rodape__menu-link {
        display: none;
    }

    .rodape__logo {
        margin-top: 0;
    }
}