.rodape {
    display: flex;

    align-items: center;
    justify-content: center;

    flex-direction: column;

    background: var(--cor-secundaria);

    text-align: center;
}

.rodape__menu {
    display: flex;

    align-items: center;
    justify-content: center;

    flex-direction: column;

    margin-top: 30px;
}

.rodape__menu-link {
    font-size: 1rem;
    font-weight: bold;

    text-transform: uppercase;
    text-decoration: none;

    padding-bottom: 10px;

    letter-spacing: 2px;
}

.rodape__menu-link:hover {
    color: #716A6A;
}

.rodape__logo {
    width: 135px;
    height: 120px;

    margin-top: 30px;
}

.rodape__copy {
    font-size: 1rem;
    font-weight: bold;
    
    padding-top: 20px;
}

.rodape__dev {
    font-size: .75rem;
    font-weight: bold;
    font-family: var(--fonte-texto);

    padding-top: 15px;
    padding-bottom: 30px;

    text-decoration: none;
}

.rodape__dev:hover {
    color: #716A6A;
}